# Generated at runtime by workspaces.lua
AppLaunchScripts.spoon/availableWorkspaces.lua
# Avoid sharing personal workspaces
AppLaunchScripts.spoon/workspaces/personal*
AppLaunchScripts.spoon/workspaces/private*
AppLaunchScripts.spoon/workspaces/Private*
# Workspace run logs
logs/
# macOS cruft
.DS_Store
